.scene-img {
    margin: auto;
    height: 782px;
    width: 49%;
}
.scroll-container {
    float: right;
    left: 10%;
    margin: auto;
    width: 50%;
    height: 782px;
    position: relative;
    text-align: center;

}
.scroll-container img {
    margin: auto;
    width: 100%;
    height: 100%;;
    object-fit: fill;
}
.scroll-container p { /* May need to be overwritten in HTML for positioning */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:Roman;
    font-size: 26px;
}


.btn-1 { /* May need to be overwritten in HTML for positioning */
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    font-family:Roman;
    padding: 10px 10px;
    cursor: pointer;
    color: black;
    background-color: #ffd700;
    box-shadow: 0 9px #999;
}
.btn-1:hover {
    background-color: #ffea73;
}
.btn-2 { /* May need to be overwritten in HTML for positioning */
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    padding: 10px 10px;
    font-family:Roman;
    cursor: pointer;
    color: black;
    background-color: #ffd700;
    box-shadow: 0 9px #999;
}
.btn-2:hover {
    background-color: #ffea73;
}
.continue-btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    padding: 10px 10px;
    cursor: pointer;
    color: black;
    background-color: #ffd700;
    box-shadow: 0 9px #999;
}
.continue-btn:hover {
    background-color: #ffea73;
}

@font-face {
    font-family:"Roman_SD";
    src: url("Roman_SD.ttf") format("truetype");
  }

  .grid-container {
    position: absolute;
    top: 1%;
    left: 49.0%;
    display: inline-grid;
    grid-template-columns: 80px;
    background-color: #000000;
    padding: 5px;
  }

  .grid-item {
    background-color: rgba(255, 255, 255);
    border: 1px solid rgba(0, 0, 0);
    padding: 20.5px;
    font-size: 30px;
    text-align: center;
  }
